{% extends 'backend/base.html' %}

{% block content %}

<h1>Tutor</h1>
<br>

<div>
    <table class = "table">
        <tr>
            <th>Profile</th>
            <th>Tutor</th>
            <th>Hours</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>Joined</th>
            <th>Subjects</th>
        </tr>

        {% for i in tutor_subject %}
            <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'tutor' i.tutor.id %}">View</a></td>
                <td>{{i.tutor}}</td>
                <td>{{i.tutor.hours}}</td>
                <td>{{i.tutor.email}}</td>
                <td>{{i.tutor.phone}}</td>
                <td>{{i.tutor.joined}}</td>
                <td>{{i.subject |linebreaks}}</td>
            </tr>
        {% endfor %}

        

    </table>
</div>

{% endblock %}
